.btn-blue {
	background-color: #background color button;
	padding: 12px 17px;
	border-radius: 5px;
	font-weight: bold;
	font-family: ‘font’;
	font-size: size (ex: 20)px;
	color: #text color;
}

.btn-blue:hover {
	background-color: #background color of the button when the cursor passes over it;
	color: #text color when the cursor passes;
